/* CSS code for the Footer section. */


footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: lightgray;
    font-size: 18px;
    color: rgb(138, 79, 69);
}
  
footer p {
    margin-bottom: .25rem;
}