/* CSS code for the Header section. */
.jumbotron {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image: url(../assets/img/marble4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-heading {
    padding-top: 50px;
    font-weight: 400;
    color:$red;
}

.jumbotron .container {
    max-width: 60rem;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.btn btn-primary {
    background-color: pink;
}

