/* Variables used throughout will go here. */

/* EFA Color pallete */
$red: rgba(161, 31, 31, 0.747);
$orange: #fd8046;
$yellow: #F6D57A;
$green: #75f390;
$blue: #84a2b1;
$blue-green: #9AD0D5;
$purple: #A992BC;
$brown: #725b4d;
$gray: #53565A;
$black: #000 !default;

